.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialog a{
    color: powderblue;
    text-decoration: none;

}
.dialog a.active{
    color: midnightblue;
}
.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.messages textarea{
    width: 40%;
    height: 40px;
}
.messages button{
    width: 20%;
}
