.logo {
    height: 100%;
    padding-top: 10px;
}
.header {
    grid-area: h;
}
.loginBlock{
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}
.loginBlock a{
    text-decoration: none;

}
.loginName{
}