.nav {
    grid-area: n;
    background-color: dimgrey;
    padding: 20px;
    border-right:solid orangered ;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a.active {
    color: orange;
}