.ProfileInfoBlock{
}
.avatar {
    width: 150px;
    border-radius: 100px;
    padding: 10px;
}
.userWallpaper {
    /*width: 100%;border-bottom: solid orangered;*/
}
.descriptionBlock{
    padding: 10px;
}