body{
    background-color: lavender;
    font-family: Lucida Grande;
    color: midnightblue;


}
.app-wrapper {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 40px auto;
    grid-template-columns: 5fr 25fr;
}

.app-wrapper-content {
    padding: 20px 10px;
    background-color: rgba(1, 56, 206, 0.51);
    color: lavender;
    border-radius:  50px 100px 0px 0px;
    grid-area: c;
    min-height:80vh;
}